@import '../../styles/colors.scss';

.header-container {
  display: flex;
  align-items: center;
  box-shadow: 0 0px 5px 0 rgba(0,0,0,0.75);
  flex-wrap: wrap;
  padding: 0.6em 0.5em;

  .icon {
    background-color: $icon-color;
  }
}
