$icon-color: #ffffff;
$icon-hover-color: #901E44;
$background: #ffffff;
$font-color: #333333;
$gradient-background: #ff9d00;
$border-color: #dfdfdf;
$alternate-border-color: #cccccc;
$dark-border-color: #aaaaaa;
$card-btn-background: #f3f2f2;
$info-icon: #96961f;
$toggle-box-shadow: #555555;
$toggle-inactive: #777777;
$toggle-active: #3ca73f;
$toggle-color: #171717;
$disabled-color: #777777;
$facebook-color: #4266B2;
$toast-default-background: #3a3939e0;
$toast-info-background: #3498dbe8;
$toast-error-background: #ad1313db;
