@import '../../styles/colors.scss';

.footer-menu-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px;

  .menu-item {
    padding: 10px;
    display: flex;
    justify-content: center;
    transform: scale(1.2);

    &:hover {
      transform: scale(2);
    }

    .icon:hover {
      background-color: $icon-color !important;
    }
  }
}
