@import '../../styles/colors.scss';

.footer-menu-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px;

  .menu-item {
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: transparent;

    .icon {
      background-color: $icon-color;
    }
  }
}
