@import '../../styles/colors.scss';

.settings-page {
  h2 {
    font-size: 1.2em;
    margin: 0 0.5em;
    color: $icon-color;
  }

  .setting-page-container {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > button, & > div, & > select {
      margin: 0.5em  0;
    }
  }
}
