@import '../../styles/colors.scss';

.settings-page {
  h2 {
    font-size: 1.2em;
    margin: 0 0.5em;
    color: $alternate-font-color;
  }

  .feedback-btn {
    margin-left: -7px;
  }

  .aboume-me-container {
    display: flex;
    flex-direction: column;

    .button {
      margin-left: -7px;
      max-width: 150px;
    }
  }

  .select-box {
    min-width: 150px;
  }

  .login-section {
    width: 100%;
    padding: 0.5em;
    color: $alternate-font-color;

    h4 {
      margin: 0;
    }

    p {
      font-size: 0.8em;
    }

    button {
      text-transform: uppercase;
      background-color: $background;
      color: $font-color;
      font-size: 0.8em;

      .icon {
        background-color: $primary-btn-color;
      }
    }

    .loggedin-user-details {
      display: flex;
      margin-bottom: 1em;
      align-items: center;

      p {
        margin: 0;
      }
    }
  }

  .setting-page-container {
    padding-top: 1em;
    overflow: auto;

    .ad2hs-container {
      align-self: center;
      margin-bottom: 1em;
    }
  }
}
