@import '../../styles/colors.scss';

.button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: 0 none;
  font-size: 1em;
  display: flex;
  color: $font-color;
  padding: 7px;
  overflow: hidden;

  &.raised {
    align-items: center;
    border: 1px solid $border-color;
    border-radius: 5px;
    box-shadow: 0 0px 5px 0 rgba(0,0,0,0.35);
    background-color: $btn-background;
    color: $font-color;

    &:disabled {
      background-color: $disabled-color !important;
      color: $alternate-font-color;
      pointer-events: none;

      .icon {
        background-color: $disabled-color !important;
      }
    }
  }

  span:not(:only-child) {
    margin-left: 0.5em;
  }

  &:not(.no-anim) {
    position: relative;
    transition-duration: 0.4s;

    &:after {
	    content: "";
	    position: absolute;
      display: block;
      background: $btn-background;
      padding-top: 300%;
      padding-left: 350%;
      margin-left: -20px!important;
      margin-top: -120%;
      transition: all 0.8s;
      opacity: 0;
    }

    &:active:after {
      padding: 0;
      margin: 0;
      opacity: 1;
      transition: 0s;
    }
  }

  &:not(.raised):disabled {
    color: $disabled-color !important;
    pointer-events: none;

    .icon {
      background-color: $disabled-color !important;
    }
  }

  &.primary {
    background: $primary-btn-color;
    color: $alternate-font-color;
    border: 0 none;

    .icon {
      background-color: $alternate-font-color;
    }
  }
}
