@import '../../styles/colors.scss';

.button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: 0 none;
  font-size: 1em;
  display: flex;

  &.raised {
    align-items: center;
    padding: 10px;
    border: 1px solid $border-color;
    border-radius: 5px;
    box-shadow: 0 0px 5px 0 rgba(0,0,0,0.35);
  }

  span:not(:only-child) {
    margin-left: 0.5em;
  }

  &:not(.no-anim):hover {
    animation: ripple 0.3s linear;
  }

  &:disabled {
    background-color: $disabled-color !important;
    pointer-events: none;
  }
}

@keyframes ripple {
	100% {
		transform: scale(1.8);
	}
}
