@import '../../styles/colors.scss';

.button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: 0 none;
  font-size: 1em;
  display: flex;
  color: $font-color;

  &.raised {
    align-items: center;
    padding: 10px;
    border: 1px solid $border-color;
    border-radius: 5px;
    box-shadow: 0 0px 5px 0 rgba(0,0,0,0.35);

    &:disabled {
      background-color: $disabled-color !important;
      color: $icon-color;
      pointer-events: none;

      .icon {
        background-color: $disabled-color !important;
      }
    }
  }

  span:not(:only-child) {
    margin-left: 0.5em;
  }

  &:not(.no-anim):hover {
    animation: ripple 0.3s linear;
  }

  &:not(.raised):disabled {
    color: $disabled-color !important;
    pointer-events: none;

    .icon {
      background-color: $disabled-color !important;
    }
  }
}

@keyframes ripple {
	100% {
		transform: scale(1.8);
	}
}
