@import '../../styles/colors.scss';

.icon {
  cursor: pointer;
  background-color: $icon-hover-color;
  width: 16px;
  height: 16px;
  display: inline-block;

  &:hover {
    background-color: $icon-color;
  }
}
