@import '../../styles/colors.scss';

.toggle-container {
  display: flex;
  align-items: center;

  .toggler {
    font-size: 2rem;
    width: 50px;
    height: 20px;
    background: $disabled-color;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color background-color 0.3s;

    &.active {
      background: $toggle-active;
      border-color: $border-color;
    }

    &.active .toggle-button {
      right: -2px;
    }

    .toggle-button {
      position: absolute;
      top: -3px;
      right: 50%;
      height: 26px;
      width: 26px;
      background: $toggle-default-color;
      box-shadow: 0 0 5px $toggle-box-shadow;
      border-radius: 50%;
      transition: right 0.3s;
    }
  }
}
