@import '../../styles/colors.scss';

.card {
  box-shadow: 0 0px 5px 0 rgba(0,0,0,0.35);
  border-radius: 5px;
  margin: 10px 0;

  .card-header {
    padding: 0.8em;
    padding-bottom: 0;

    .card-menu-list-btn {
      margin: 4px 0;

      .menu-list {
        min-width: 100px;
        top: 20px;

        li {
          text-align: right;
        }
      }
    }

    .menu-toggle-container .icon {
      transform: scale(1);
    }
  }

  .synonym-container {
    margin: 1em;

    a {
      margin: 0.1em;
      display: inline-block;
      word-break: break-all;
      text-transform: capitalize;

      &:not(:last-child)::after {
        content: ',';
      }

      &.no-anchor {
        text-decoration: none;
        pointer-events: none;
        color: $font-color;
      }
    }
  }

  &.selected {
    .card-header {
      background: $icon-hover-color;
      color: $icon-color;
      padding-bottom: 0.8em;
    }

    .card-button,
    .speaker {
      background-color: $icon-hover-color;

      .icon {
        background-color: $icon-color;
      }
    }

    .icon {
      background-color: $icon-color;
    }
  }

  .title {
    margin: 0;
    font-size: 1.2em;
    text-transform: capitalize;
    padding-right: 10px;
  }
  .sub-title {
    font-size: 0.8em;
  }

  .speaker {
    margin-left: 10px;
    margin-top: -1px;
  }

  .row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .sub-title-section {
    justify-content: flex-start;
    margin-top: 0.5em;
    align-items: flex-end;
  }

  ul {
    list-style-type: disc;
    margin: 1em 0;
    padding: 0 0.5em 0 2em;

    li {
      margin: 1em 0;
    }
  }

  section {
    font-weight: bold;
    margin: 1em;
  }

  .meaning-section:not(:only-child):not(:last-child) {
    border-bottom: 1px solid $border-color;
  }

  .card-button {
    margin-top: 2px;

    .icon {
      background-color: $icon-hover-color;
    }
  }

  .show-all-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background: $card-btn-background;
    border-top: 1px solid $card-btn-background;

    .icon {
      background-color: $icon-hover-color;
    }
  }

  .card-button-set .card-button:not(:first-child) {
    margin-left: 1em;
  }
}
