@import '../../styles/colors.scss';

.card {
  box-shadow: 0 0px 5px 0 rgba(0,0,0,0.35);
  border-radius: 5px;
  margin: 10px 0;

  .card-header {
    padding: 0 0.8em;
    padding-top: 5px;

    .card-menu-list-btn {
      margin: 4px 0;

      .menu-list {
        min-width: 110px;
        top: 28px;

        li {
          text-align: right;
        }
      }
    }

    .menu-toggle-container {
      .icon {
        transform: scale(1);
      }      

      .menu-toggle-btn {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .synonym-container {
    margin: 1em;

    a {
      margin: 0.1em;
      display: inline-block;
      word-break: break-all;
      text-transform: capitalize;

      &:not(:last-child)::after {
        content: ',';
      }

      &.no-anchor {
        text-decoration: none;
        pointer-events: none;
        color: $font-color;
      }
    }
  }

  &.selected {
    .card-header {
      background: $alternate-background-color;
      color: $alternate-font-color;
      padding-bottom: 0.8em;
      background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23a51948' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
    }

    .card-button,
    .speaker .icon {
      background-color: $alternate-font-color;
    }

    .icon {
      background-color: $alternate-font-color;
    }
  }

  .title {
    margin: 0;
    font-size: 1.2em;
    text-transform: capitalize;
    padding-right: 10px;
  }
  .sub-title {
    font-size: 0.8em;
  }

  .speaker {
    margin-left: 10px;
    margin-top: -1px;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sub-title-section {
    justify-content: flex-start;
  }

  ul {
    list-style-type: disc;
    margin: 0;
    padding: 0 0.5em 0 2em;

    li {
      margin: 1em 0;
    }
  }

  section {
    font-weight: bold;
    margin: 1em;
  }

  .meaning-section:not(:only-child):not(:last-child) {
    border-bottom: 1px solid $border-color;
  }

  .card-button {
    margin-top: 2px;

    .icon {
      background-color: $default-icon-color;
    }
  }

  .show-all-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background: $btn-background;
    border-top: 1px solid $border-color;

    .icon {
      background-color: $default-icon-color;
    }
  }

  .card-button-set .card-button:not(:first-child) {
    margin-left: 1em;
  }
}
