@import '../../styles/colors.scss';

.card {
  box-shadow: 0 0px 5px 0 rgba(0,0,0,0.35);
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;

  .card-header {
    padding: 0.5em 0.8em;
    padding-bottom: 0;
  }

  &.selected .card-header {
    background: $icon-hover-color;
    color: $alternate-font-color;
    padding-bottom: 0.8em;
  }

  &.selected .icon {
    background-color: $alternate-font-color;
  }

  .title {
    margin: 0;
    font-size: 1.2em;
    text-transform: capitalize;
  }
  .sub-title {
    font-size: 0.8em;
  }

  .speaker {
    background-color: $icon-hover-color;
    margin-right: 10px;
    cursor: pointer;
  }

  .row {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
  }

  ul {
    list-style-type: disc;
    margin: 1em 0;
    padding: 0 0.5em 0 2em;

    li {
      margin: 1em 0;
    }
  }

  section {
    font-weight: bold;
    margin: 1em;
  }

  .meaning-section:not(:only-child):not(:last-child) {
    border-bottom: 1px solid $border-color;
  }

  .show-all-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background: $card-btn-background;
    border: 0;
    border-top: 1px solid $card-btn-background;

    .icon {
      background-color: $icon-hover-color;
    }
  }
}
