@import '../../styles/colors.scss';

.ad2hs-container {
  &.popup {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #ffffff;
    padding: 1em;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &:empty {
      display: none;
    }
  }

  .added-pwa-message {
    font-size: 0.8em;
    color: $disabled-color;
    text-align: center;
  }

  .close-prompt {
    position: absolute;
    right: 1em;
    top: 1em;
  }

  img {
    width: 64px;
    height: 64px;
    margin-right: 1em;
    margin-bottom: 1em;
  }

  .logo-text {
    display: flex;
    align-self: flex-start;

    h2 {
      margin: 0;
      font-size: 1em;
    }

    span {
      font-size: 0.8em;
    }
  }

  .ad2hs-prompt {
    background-color: $alternate-background-color;
    border: none;
    color: $alternate-font-color;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 0.8em;
    text-transform: uppercase;
  }
}
