@import '../../styles/colors.scss';

.message-container {
  width: 100%;
  padding: 1em;
  padding-bottom: 0;

  .main-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
  }

  p {
    margin: 0 5px;
  }

  &.info .icon {
    background-color: $info-icon;
  }

  &.error .icon {
    background-color: $icon-hover-color;
  }

  &.success .icon {
    background-color: green;
  }

  .sub-info {
    font-size: 0.8em;
    text-align: center;
    margin: 1em 0;
  }
}
