@import '../../styles/colors.scss';

.loading-indicator {

  &.linear {
    position: relative;
    width: 100%;
    height: 6px;
    background-color: #fdba2c;

    div {
      content: "";
      display: inline;
      position: absolute;
      width: 0;
      height: 100%;
      left: 50%;
      text-align: center;

      &:nth-child(1) {
        background-color: $linear-color-1;
        animation: loading 3s linear infinite;
      }

      &:nth-child(2) {
        background-color: $linear-color-2;
        animation: loading 3s linear 1s infinite;
      }

      &:nth-child(3) {
        background-color: $linear-color-3;
        animation: loading 3s linear 2s infinite;
      }
    }
  }

  &.wave {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    div {
      background: $wave-loader-color;
      bottom: 1px;
      height: 3px;
      width: 10px;
      margin: 0px 4px;
      border-radius: 5px;
      animation: sound-wave 0ms -600ms linear infinite alternate;

      &:nth-child(1)  {
        left: 1px;
        animation-duration: 474ms;
      }
      &:nth-child(2)  {
        left: 15px;
        animation-duration: 433ms;
      }
      &:nth-child(3)  {
        left: 29px;
        animation-duration: 407ms;
      }
      &:nth-child(4)  {
        left: 43px;
        animation-duration: 458ms;
      }
      &:nth-child(5)  {
        left: 57px;
        animation-duration: 400ms;
      }
      &:nth-child(6)  {
        left: 71px;
        animation-duration: 427ms;
      }
    }
  }

  &.scan {
    width: 100px;
    height: 100px;
    position: relative;
    backface-visibility: hidden;
    margin: 0 auto;

    span {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 20px;
      background-color: $scanner-background;
      z-index: 1;
      transform: translateY(135%);
      animation: scan-move 0.7s cubic-bezier(0.15, 0.44, 0.76, 0.64);
      animation-iteration-count: infinite;
    }

    .icon {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%) scale(5.5, 6.3);
      top: 50%;
      z-index: 1;
      backface-visibility: hidden;
    }

    &:before,  &:after, em:after, em:before {
      border-color: $scanner-border-color;
      content: "";
      position: absolute;
      width: 19px;
      height: 19px;
      border-style: solid;
      border-width: 0px;
    }
    &:before {
      left: 0;
      top: 0;
      border-left-width: 1px;
      border-top-width: 1px;
    }
    &:after {
      right: 0;
      top: 0;
      border-right-width: 1px;
      border-top-width: 1px;
    }
    em:before {
      left: 0;
      bottom: 0;
      border-left-width: 1px;
      border-bottom-width: 1px;
    }
    em:after {
      right: 0;
      bottom: 0;
      border-right-width: 1px;
      border-bottom-width: 1px;
    }
  }
}

@keyframes loading {
  from {
    left: 50%;
    width: 0;
    z-index:100;
  }
  33.3333% {
    left: 0;
    width: 100%;
    z-index: 10;
  }
  to {
    left: 0;
    width: 100%;
  }
}

@keyframes sound-wave {
    0% {
       opacity: .35;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 70px;
    }
}

@keyframes scan-move {
  0%, 100% { transform: translateY(135%); }
  50% { transform: translateY(0%); }
  75% { transform: translateY(372%); }
}
