@import '../../styles/colors.scss';

.home-page {
  .card-button-set {
    display: flex;
  }

  .home-message {
    box-shadow: 0 0px 5px 0 rgba(0,0,0,0.35);
  }

  .no-word-found {
    max-width: 250px;
    display: flex;
    align-self: center;
    text-align: center;
    margin: 2em 0;
    flex-direction: column;
  }

  .header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .profile-pic {
      margin-right: 0.5em;
    }

    .add-word-btn {
      padding-right: 6px;
      padding-left: 12px;
      transform: scale(1.5);
    }

    .search {
      width: auto;
      flex: 1;
    }
  }

  .card-list-container {
    padding-top: 0;
  }

  .menu-container {
    flex: 0 0 auto;
  }

  .web-word-container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .message-container {
      flex: 0 0 auto;
    }

    .web-search-result-container {
      padding: 0 1em;
      overflow: auto;
      flex: 1 1 auto;

      .web-word {
        margin: 1em 0;

        a {
          text-transform: capitalize;
        }

        .sub-title {
          font-size: 0.8em;

          li {
            padding: 0.5em 0;
          }
        }

        &:not(:last-child) {
          border-bottom: 1px solid $border-color;
        }
      }
    }
  }
}

.registration-btn {
  margin-top: 10px;
  margin-bottom: 5px;
}
