@import '../../styles/colors.scss';

.search-container {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;

  input {
    padding: 10px;
    padding-right: 30px;
    width: 100%;
    margin: 10px 0;
    outline: 0 none;
    border-radius: 15px;
    border: 1px solid $border-color;
    font-size: 1em;
  }

  .mic-icon {
    position: absolute;
    right: 10px;
    background-color: $font-color;
  }
}
