@import '../../styles/colors.scss';

.input-container {
  width: 100%;

  input {
    font-size: 1em;
    outline: 0 none;
  }

  &.text {
    input {
      border: 1px solid $border-color;
      padding: 5px 10px;
    }
  }

  &.search {
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: relative;

    .search-icon-placeholder {
      position: absolute;
      background-color: #aaa;
      left: 10px;
    }

    input {
      padding: 10px 30px;
      width: 100%;
      border-radius: 20px;
      border: 1px solid $border-color;
    }

    .rich-input-icon {
      position: absolute;
      right: 10px;
      display: flex;

      .icon {
        background-color: $font-color;
      }
    }

    .remove-text-icon {
      display: none;
      transform: scale(0.7);
      position: absolute;
      right: 10px;
      height: 16px;

      .icon {
        background-color: $font-color;
      }
    }

    &.has-input {
      .rich-input-icon {
        display: none;
      }
      .remove-text-icon {
        display: inline-block;
      }
    }
  }

  &.copy {
    background-color: $btn-background;
    padding: 0.5em;
    max-width: 400px;
    display: flex;
    border-radius: 4px;

    input {
      background: transparent;
      border: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      flex: 1;
    }

    button {
      font-size: 0.9em;
      background: $primary-btn-color;
      color: $alternate-font-color;
      padding: 5px 10px;
      margin-left: 5px;
      border-radius: 4px;
      outline: 0 none;
    }
  }
}

@media screen and (max-width: 500px) {
  .input-container.search.focused {
    position: absolute;
    width: calc(100% - 16px);
    left: 0;
    right: 0;
    z-index: 999;
    margin: 0 8px;
  }
}
